{% extends "base.html" %}

{% block content %}

<h2>Purchase History</h2>

<h4 class="mt-4">My Purchases</h4>

{% for item in purchases %}

<p>
{{ item.title }} - £{{ item.price }}
</p>

{% empty %}

<p>No purchases yet.</p>

{% endfor %}


<h4 class="mt-4">My Sales</h4>

{% for item in sales %}

<p>
{{ item.title }} - £{{ item.price }}
</p>

{% empty %}

<p>No sales yet.</p>

{% endfor %}

<p>Purchased at: {{ item.purchase_time }}</p>

{% if not item.is_returned %}
<a href="/items/{{ item.id }}/return/" class="btn btn-warning btn-sm">
Return
</a>
{% else %}
<p class="text-success">Returned at: {{ item.return_time }}</p>
{% endif %}

{% endblock %}